html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* .hero-container {
  position: relative;
  height: 100vh;
  background: url('/Capstone_360s/wwwroot/favicon.png') no-repeat center center;
  background-size: cover;
} */


.bg-dark {
  --bs-bg-opacity: 1;
  --bs-dark-rgb: 39, 43, 48;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.hero-content {
  position: relative;
  z-index: 2;
  color: rgba(0,0,0,0.9);
  margin-top: 15%;
}

.custom-nav-margin {
  margin-right: 15px;  /* Adjust as needed */
}

.btn-primary {
  background-color: #0056b3;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #004494;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-success {
  background-color: #18bc9c;
}

.btn-success:hover {
  background-color: #14a085;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-warning {
  background-color: #f39c12;
}

.btn-warning:hover {
  background-color: #cf850f;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background-color: #95a5a6;
}

.btn-secondary:hover {
  background-color: #7f8c8d;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


h1, h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #e0e0e0;
  display: inline-block;
  padding-bottom: 0.5rem;
}

a.select-link-primary {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
}

a.select-link-primary:hover {
  text-decoration: underline;
}

a.select-link-danger {
  color: #dc3545;
  font-weight: 500;
  text-decoration: none;
}

a.select-link-danger:hover {
  text-decoration: underline;
}

a.select-link-warning {
  color: #ffc107;
  font-weight: 500;
  text-decoration: none;
}

a.select-link-warning:hover {
  text-decoration: underline;
}

a.select-link-secondary {
  color: #7f8c8d;
  font-weight: 500;
  text-decoration: none;
}

a.select-link-secondary:hover {
  text-decoration: underline;
}

a.select-link-success {
  color: #14a085;
  font-weight: 500;
  text-decoration: none;
}

a.select-link-success:hover {
  text-decoration: underline;
}

a.disabled {
  pointer-events: none;
  color: #6c757d; /* Gray out the link */
  text-decoration: none;
  cursor: default;
  opacity: 0.6;
}

.bi-info-circle {
  font-size: 1.2rem;
  margin-left: 8px;
  color: #007bff;
  cursor: pointer;
}