@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <h1 class="display-4">Welcome, @User.Identity.Name</h1>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }
    <p><a class="btn btn-primary" asp-controller="UploadProcess" asp-action="Index">Start Setup Process</a></p>
</div>
